<!-- Navigation -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
 <i class="fa fa-bars"></i>
 </button>
 <a class="navbar-brand page-scroll" href="#page-top">
 <i class="fa fa-user"></i> <span class="light">Chryss</span> Flores
 </a>
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
 <ul class="nav navbar-nav">
 <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
 <li class="hidden">
 <a href="#page-top"></a>
 </li>
 <li>
 <a class="page-scroll" href="#about">Who is Chryss</a>
 </li>
 <li>
 <a class="page-scroll" href="#student">IT Student</a>
 </li>
 <li>
 <a class="page-scroll" href="#hire">Hire Me</a>
 </li>
 <li>
 <a class="page-scroll" href="#contact">Get In Touch</a>
 </li>
 </ul>
 </div>
 <!-- /.navbar-collapse -->
 </div>
 <!-- /.container -->
 </nav>

 <!-- Intro Header -->
 <header class="intro">
 <div class="intro-body">
 <div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
 <h1 class="brand-heading">Chryss Flores</h1>
 <p class="intro-text">Some may say I look cold on the outside, but I'm just shy.<br>A student of the University of San Carlos taking up Bachelor of Science in Information Technology.</p>
 <a href="#about" class="btn btn-circle page-scroll pulse">
 <i class="fa fa-angle-double-down"></i>
 </a>
 </div>
 </div>
 </div>
 </div>
 </header>

 <!-- About Section -->
 <section id="about" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>About Chryss</h2>
 <p>My full name is Chryss Rei Timothy Flores but you can address me by using just "Chryss". I was born in March 10, 1997 and I'm already 19 years of age. I reside at Buenavista Homes, Jugan, Consolacion, Cebu. I don’t have any siblings so you shouldn’t be surprised if I’m childing sometimes.</p>
 <p>Here are some of my interests and likes: anything about DC (comics, TV shows, animated series and movies, live-action movies) and honestly my favorite superhero is Wonder Woman, I'm a huge <a href="https://www.arianagrande.com/">Ariana Grande</a> fan (an Arianator), and on top of that, I’M A HUGE MIRANDA SINGS FAN (or simply a MIRFANDA)!!! SUSCRIBE TO <a href="https://www.youtube.com/user/mirandasings08">HER CHANNEL</a> CAUZ SHE'S BOOTIFUL.</p>
 <p>Another year has passed, it’s time to make some new year’s resolution. For this year, I would try to lose some belly fat and gain some muscles. I also endeavor to triumphantly finish this semester and have my OJT at an IT company during this summer. </p>
 <p>I want to see myself as a successful professional in the IT industry. I would like to contribute to the progress of technology and have my mark as a developer through making life-changing applications and programs. Hopefully, I can attain all of these in God’s time.</p>
 </div>
 </div>
 </section>

 <!-- Student Section -->
 <section id="student" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>Being an IT Student</h2>
 <p>The reason I took up the BSIT program is because of my family. Because I’m an only child of my parents, I’ll be the one working to support the needs of my family. And in the field of IT, there are a lot of opportunities where I can apply for a job and earn good money. Besides, studying IT in the University of San Carlos has been a lot of fun! The school helped me grow into who I am today. I gained a lot of friends and the faculty members and the non-teaching personnel are so friendly and entertaining. They make my stay in the university worthwhile. I can really testify that IT is awesome!</p>
 <ul class="list-inline banner-social-buttons">
 <li>
 <a href="http://usc.edu.ph/" class="btn btn-default btn-lg"><i class="fa fa-chevron-circle-right"></i> <span class="network-name">Visit USC Webpage</span></a>
 </li>
 </ul>
 </div>
 </div>
 </section>

 <!-- Skills Section -->
 <section id="hire" class="content-section text-center">
 <div class="download-section">
 <div class="container">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>My Skills Portfolio</h2>
 <p>These are the programming languages I know how to use: C, HTML, PHP, SQL, Java, Javascript, JQuery, C# (a little bit), and Ruby on Rails.</p>
 <p>Others skills include: game development through Unity, photoshop through Adobe Photoshop, and video editing through Adobe Premiere Pro.</p>
 <a href='welcome/skills' class="btn btn-default btn-lg">List of Projects</a>
 </div>
 </div>
 </div>
 </section>

 <!-- Contact Section -->
 <section id="contact" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>Contact Me</h2>
 <p>Feel free to email me if you want to reach me or simply just want to make friends.</p>
 <p><a href="mailto:fchryssreitimothy@gmail.com">fchryssreitimothy@gmail.com</a>
 </p>
 <ul class="list-inline banner-social-buttons">
 <li>
 <a href="https://www.facebook.com/chryss.rei" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a>
 </li>
 <li>
 <a href="https://twitter.com/ChryssFlores" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
 </li>
 <li>
 <a href="https://github.com/fchryssreitimothy" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
 </li>
 </ul>
 </div>
 </div>
 </section>



 <!-- Footer -->
 <footer>
 <div class="container text-center">
 <p>Copyright &copy; Chryss Flores Website 2017</p>
 </div>
 </footer>